<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sousa.inventario" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Contagem"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sousa.inventario.com.sousa.inventario.activity.ListaContagens"
            android:label="Contagens" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.sousa.inventario.activity.DetalheContagem"
            android:label="Contagem" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
